body {
    background-color: #000101;
    color: white;
    font-family: "Neutra Display Bold, sans-serif, arial";
    font-weight: bold;
    overflow-y: scroll;
}

#wrapper {
    width: 1400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

h1 a {
    color: white;
    text-decoration: none;
}

nav {
    width: 1000px;
    background-color: #2B2A2A;
    margin: 0 auto;
    border-bottom: 1px solid #EEC015;
    border-radius: 2px;
}

nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    font-family: sans-serif;
    font-size: 18px;
}

nav a {
    width: 100px;
    display: block;
    padding: 20px;
    color: white;
}

.active-page {
    background-color: #262626;
}

nav a:hover {
    background: #262626;
    color: #fff;
}

main {
    background-color: #000101;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

img[alt~="indexheader"] {
    margin-top: 15px;
    width: 1400px;
    height: auto;
}

#home-main {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    background-color: #EEC015;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

#home-main p {
    padding-bottom: 10px;
    font-size: 25px;
}

#home-main a {
    color: white;
}

#home-cater {
    margin-left: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

#home-cater h3 {
    text-align: center;
}

#home-cater p {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 20px;
}

#main-left-content {
    width: 700px;
    float: left;
}

img[alt~="local"] {
    width: 680px;
    height: auto;
    float: left;
    margin: 10px;
    margin-bottom: 50px;
}

#main-left-content h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

#main-left-content p {
    width: 480px;
    margin-left: 120px;
    margin-right: 50px;
    margin-bottom: 50px;
    line-height: 30px;
}

#main-right-content {
    width: 700px;
    float: right;
    margin-bottom: 80px;
}

img[alt~="chef"] {
    width: 680px;
    height: auto;
    float: right;
    margin: 10px;
    margin-bottom: 50px;
}

#main-right-content h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

#main-right-content p {
    width: 480px;
    margin-left: 100px;
    margin-right: 50px;
    line-height: 30px;
}

#contact-left-content {
    width: 700px;
    margin-top: 90px;
    float: left;
    margin-left: 15px;
}

#contact-left-content h2 {
    border-bottom: 1px solid #EEC015;
    border-right: 1px solid #EEC015;
    width: 250px;
    margin-left: 40px;
    margin-bottom: 70px;
    font-size: 50px;
}

#contact-left-content p {
    margin-left: 100px;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 100px;
}

img[alt~="contact-logo"] {
    width: 400px;
    height: auto;
    float: left;
    margin-left: 150px;
}

#contact-form {
    padding: 60px;
    padding-top: 105px;
    margin-top: 10px;
    margin-left: 40px;
}

form {
    width: 400px;
    background-color: #1E1F1E;
    margin-left: 700px;
    padding: 40px;
    padding-left: 100px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #EEC015;
    margin-bottom: 80px;
}

label {
    color: white;
}

input {
    display: block;
    width: 310px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px inset grey;
}

select {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

#myZip {
    width: 90px;
}

fieldset {
    width: 290px;
    border-radius: 5px;
}

legend {
    color: white;
    padding-bottom: 5px;
}

#prefEmail,
#prefPhone {
    display: inline;
    width: 20px;
    height: 17px;
}

#label-block {
    display: block;
    padding-top: 5px;
}

textarea {
    border-radius: 5px;
    margin-top: 10px;
}

#myButtons {
    margin: 0 auto;
    width: 225px;
    padding-top: 10px;
}

#myReset,
#mySubmit {
    width: 100px;
    display: inline;
}

#label-block {
    margin-top: 10px;
}

footer {
    clear: both;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    background-color: #181819;
    line-height: 1.5;
    border-top: 1px solid #EEC015;
}