:root {
	--light-gray: #eaeaea;
	--med-gray: #555;
	--dark-gray: #222;
	--white: #fff;

	--box-shadow: -5px 5px 5px var(--med-gray);
	--hover-shadow: -3px 3px 6px var(--med-gray);

	font-size: 16px;

	width: 100%;
}

@media screen and (min-width: 720px) {

	html {
		background-color: var(--light-gray);
	}

	body {
		background-color: #ffffff;
		color: #000000;
		margin: 0 auto;
		overflow-x: hidden;
	}

	.dark-mode-theme {
		background-color: #2B2A2A;
		color: #ffffff;
	}

	li #darkmode {
		display: block;
		position: relative;
		top: -55px;
		right: -306px;

	}

	#switcher1 button {
		display: inline-block;
		width: 500px;
		margin: 10px;
	}

	#switcher1Buttons {
		display: flex;
		max-width:700px;
		margin: 0 auto;
		padding: 20px;
		margin-top: 20px;

	}

	#switcher1 h2 {
		display: block;
		position: relative;
		margin-top: -100px;
		padding-bottom: 30px;
	}

	#switcher1 p {
		display: flex;
		max-width:700px;
		margin: 0 auto;
		padding: 20px;
		border-right: 1px solid #FF891C;
		border-left: 1px solid #FF891C;
	}


	#switcher1 img {
		width: 650px;
		height: 400px;
		padding-bottom: 140px;
	}




	button:hover {
		background-color: #eeeeee;
	}

	.sr-only {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}

	main,
	footer {
		width: 100%;
		padding: 16px;
		margin: 0 auto;
	}

	/* ----- HEADER ----- */
	header h1,
	header h2 {
		display: block;
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 16px;
		text-align: left;
		margin-bottom: -50px;
	}


	header h1 {
		text-decoration: underline;
	}

	header h2 {
		font-size: 20px;
		margin-left: 15px;
		margin-top: 15px;
		padding-bottom: 70px;
	}




	nav {
		width: 100%;
		background-color: #2B2A2A;
		margin: 0 auto;
		border-bottom: 1px solid #FF891C;
		border-radius: 2px;
	}

	nav ul {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	nav ul li {
		display: inline-block;
		font-family: sans-serif;
		font-size: 18px;
	}

	nav a {
		width: 100px;
		display: block;
		padding: 20px;
		color: white;
	}

	/* ----- HEADINGS ----- */
	h1,
	h2,
	h3,
	h4 {
		text-align: center;
		font-weight: bold;
	}

	h1 {
		font-size: 2rem;
		margin: 1rem;
	}

	h2 {
		font-size: 1.65rem;
		margin: 0.75rem;
	}

	h3 {
		font-size: 1.45rem;
		margin: 0.5rem;
	}

	h4 {
		font-size: 1.3rem;
		margin: 0.35rem;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	p {
		max-width: 65ch;
		padding: 1rem 0;
		margin: 0 auto;
	}

	button,
	input[type="submit"] {
		display: block;
		padding: 1rem;
		background-color: var(--dark-gray);
		color: var(--white);
		border: none;

	}

	input[type="submit"] {
		width: 90%;
		margin: 0 auto;
	}


	input {
		padding: 0.5rem 0.25rem;
		margin: 0 auto 1rem auto;
		width: calc(100% - 1rem);
	}

	#cart1 {
		padding: 1rem;
		width: calc(100% - 2rem);
		max-width: 1280px;
	}


	#switcher2 .currentItem {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 2fr 1fr;
		gap: 1rem;
	}


	#switcher2 {
		margin-top: -150px;
		margin-bottom: 100px;
	}

	#switcher2 img {
		grid-row: 1/-1;
		grid-column: 2/-1;
		width: 400px;
		height: 400px;
		display: block;
		margin-top: 10px;

		padding: 50px;

		border-radius: 10px;
		border-left: 1px solid #FF891C;
		border-bottom: 1px solid #FF891C;
	}

	#switcher2 p {
		margin-top: 120px;
		text-align: left;
	}

	#switcher2 h2 {
		margin-top: 250px;
		margin-bottom: 50px;
	}

	#switcher2 h3 {
		margin-top: 60px;
		margin-bottom: 0;
		position: absolute;
		margin-left: 150px;
	}

	.currentItem h3 {
		position: absolute;
		margin-top: -500px;

	}

	.currentItem p {
		position: absolute;
		margin: 80px 0 50px 40px;
		max-width: 40%;
	}



	#switcher2Buttons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		width: fit-content;
		position: absolute;
		margin-top: -100px;
		margin-left: 100px;
	}

	.container {
		max-width: 400px;
		margin: 0 auto;
		padding: 20px;
		border: 1px solid #FF891C;
		border-radius: 5px;
		padding-bottom: 50px;
	}

	#contact-form {
		padding: 20px;
	}

	#contact-form label {
		display: block;
		margin-bottom: 20px;
	}

	input[type="text"],
	input[type="email"] {
		width: 100%;
		padding: 5px;
		border-radius: 3px;
		border: 1px solid #ccc;
	}


	textarea {
		width: 100%;
		padding: 5px;
		border-radius: 3px;
		border: 1px solid #ccc;
	}

	input[type="radio"] {
		display: block;
		position: absolute;
		left: -40px;
	}

	#contact-form .submit-btn {
		display: block;
		position: absolute;
		margin-top: 10px;
		margin-left: 50px;
		width: 250px;

	}

	#thank-you-message {
		display: none;
		margin-top: 55px;
		padding: 10px;
		background-color: #f1f1f1;
	}

	#cart1 {
		margin-top: 2rem;
		padding-bottom: 2rem;
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 1rem;
	}

	#cart1 h2 {
		grid-column: 1/-1;
	}

	#products1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}

	#products1 p {
		width: fit-content;
		font-size: 1.1rem;
		padding: 0 0 1rem 0;
	}

	#products1 img {
		width: 200px;
		height: 200px;
		margin-top: 41px;
		margin-bottom: 20px;
		border-top: 1px solid #FF891C;
		border-bottom: 1px solid #FF891C;
		padding-top: 20px;
		padding-bottom: 20px;

	}

	#products1 button,
	#products1 p {
		margin: 0 auto;
	}

	#totals1 h3 {
		padding-bottom: 5px;
		border-bottom: 1px solid #FF891C;
	}

	#totals1 ul {
		width: fit-content;
		margin: 0 auto;
		font-size: 1.2rem;
	}

	#totals1 li {
		margin: 0.5rem 0;
	}

	#itemsList1 li {
		padding-bottom: 0.25rem;
		border-bottom: 1px solid black;
	}

	#totals1 button {
		font-size: 1.1rem;
		margin: 1rem auto;
	}

	footer {
		padding: 1rem 0;
		text-align: center;
		background-color: var(--white);
		margin-top: 2rem;
	}

	@media (hover:hover) {

		button:hover,
		input[type="submit"]:hover {
			box-shadow: var(--hover-shadow);
		}
	}

}